.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.graphRow {
  display: flex;
  width: 100%;
  height: 15%;
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 0px 0 3px rgba(99, 99, 99, 0.842);
  border-radius: 10px;
  margin-right: 3%;
  margin-bottom: 3%;
  padding: 5%;
  justify-content: space-around;
}

.barCol {
  margin-right: 2%;
}

.pieCol {
  margin-left: 2%;
}

.lineCol {
  flex: 0 0 auto;
  width: 100%;
}

.graphCol {
  margin-left: 2%;
}

.page-display{
  position: absolute;
  margin-top: 2%;
  margin-left: 15%;
  width: 85%;
  padding: 2%;
}

.sidebar {
  position: fixed;
  background-color: rgb(66, 66, 66);
  top: 0;
  left: 0;
  height: 100%;
  width: 15%;
  z-index: 3;
  overflow-x: hidden;
}

.sidebar-link {
  display: block;
  padding: 5%;
  font-size: 2em;
  text-decoration: none;
  color: rgb(116, 116, 116);
}

.sidebar-logo {
  display: block;
  padding: 7%;
  font-size: 1em;
  text-decoration: none;
  color: rgb(116, 116, 116);
}

.sidebar-logo img {
  width: 17%;
  height: 17%;
  padding-right: 3%;
}

.toolbar {
 position: fixed; 
 top: 0;
 left: 0;
 width: 100%;
 height: 7%;
 overflow-y: hidden;
 z-index: 2;
 background-color:rgb(218, 218, 218);
 box-shadow: 2px 2px 2px #aaaaaa;
}

.toolbar-link{
  margin-right: 15px;
  float: right; 
}

.toolbar-icon {
  width: 20px;
  height: 20px;
}

.screenHeader{
  margin: 3%;
}

.section {
  background-color: rgb(245, 245, 245);
  -webkit-box-shadow: 0px 0 3px rgba(99, 99, 99, 0.842);
  padding: 2%;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 10px;
}

.sectionInfo{
  background-color: rgb(245, 245, 245);
  justify-content: flex-end;
  height: 200%;
  align-items: flex-end;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}

.sectionHeader {
  align-self: center;
}

.sectionButtonBox{
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  
}

.sectionButton {
  height: 30%;
  width: 175%;
  margin-bottom: 3%;
  
}